/*!
 * 
 * thumbTAX | Capstone 1.0
 * Author: Michael Quitorio
 *
 */
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900);
@font-face {
  font-family: "futurabook";
  src: url("../fonts/futura/futura_book_font.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "futuraheavy";
  src: url("../fonts/futura/futura_heavy_font.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

body {
  overflow-x: hidden;
  background-color: #2a2a2a;
}

a {
  color: inherit;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
a, a:focus, a:hover {
  text-decoration: none;
  outline: 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
/* General Class Declaration */
.height_vh {
  height: 100vh;
}
@media (max-width: 991px) {
  .height_vh {
    height: auto;
  }
}

.dark_bg {
  background: #2a2a2a;
}

.bg_text {
  position: absolute;
  left: 255px;
  top: 0px;
}
@media (max-width: 640px) {
  .bg_text {
    display: none;
  }
}

.bg_strock_text {
  font-size: 13.5rem;
  color: transparent;
  font-weight: normal;
  font-family: "futuraheavy";
  letter-spacing: 3px;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
  line-height: 220px;
}
@media (max-width: 1366px) {
  .bg_strock_text {
    font-size: 10.5rem;
  }
}
@media (max-width: 768px) {
  .bg_strock_text {
    font-size: 6.25rem;
  }
}

/* Header */
header.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  padding: 20px 5px 20px 30px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  /* this will call by main.js */
}
@media (max-width: 991px) {
  header.header {
    padding: 0px;
  }
}
header.header.menu_fixed {
  background: #2a2a2a;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(10, 11, 12, 0.4);
  box-shadow: 0px 10px 20px 0px rgba(10, 11, 12, 0.4);
  padding-top: 10px;
  padding-bottom: 10px;
}
header.header .capstone_logo {
  position: relative;
  max-width: 100%;
  max-height: 40px;
}
@media (max-width: 440px) {
  header.header .capstone_logo {
    max-height: 100%;
    margin-left: 10px;
  }
}
header.header .capstone_menu > ul {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 991px) {
  header.header .capstone_menu > ul {
    display: block;
  }
}
header.header .capstone_menu > ul > li.nav-item {
  margin-right: 40px;
}
@media (max-width: 991px) {
  header.header .capstone_menu > ul > li.nav-item {
    display: inline-block;
    margin-right: 30px;
  }
}
@media (max-width: 767px) {
  header.header .capstone_menu > ul > li.nav-item {
    margin-right: 0px;
  }
}
header.header .capstone_menu > ul > li.nav-item:last-child {
  margin-right: 0px;
}
header.header .capstone_menu > ul > li.nav-item > a.nav-link {
  color: #cccccc;
  font-size: 1rem;
  font-weight: 400;
  display: inline-block;
  padding: 0px;
  position: relative;
}
@media (max-width: 991px) {
  header.header .capstone_menu > ul > li.nav-item > a.nav-link {
    display: none;
  }
}
@media (max-width: 767px) {
  header.header .capstone_menu > ul > li.nav-item > a.nav-link {
    display: none;
  }
}
header.header .capstone_menu > ul > li.nav-item > a.nav-link:before {
  position: absolute;
  content: "";
  bottom: 0px;
  right: 0;
  width: 0%;
  height: 1.5px;
  background: #E91576;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
header.header .capstone_menu > ul > li.nav-item > a.nav-link.active:before, header.header .capstone_menu > ul > li.nav-item > a.nav-link:hover:before {
  right: auto;
  left: 0;
  width: 100%;
}
header.header .capstone_menu > ul > li.nav-item > a.nav-link.signup_btn {
  letter-spacing: 2px;
  border: 1px solid #E91576;
  padding: 7px 42px;
  background-color: transparent;
  background-image: -webkit-linear-gradient(315deg, #E91576 50%, transparent 50%);
  background-image: -o-linear-gradient(315deg, #E91576 50%, transparent 50%);
  background-image: linear-gradient(135deg, #E91576 50%, transparent 50%);
  background-repeat: no-repeat;
  background-size: 300% 300%;
  background-position: 0% 0%;
  font-weight: 600;
  color: #fff;
  border-radius: 50px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
@media (max-width: 991px) {
  header.header .capstone_menu > ul > li.nav-item > a.nav-link.signup_btn {
    display: inline-block;
    margin: 10px 0px;
  }
}
@media (max-width: 767px) {
  header.header .capstone_menu > ul > li.nav-item > a.nav-link.signup_btn {
    display: inline-block;
    padding: 7px 20px;
  }
}
@media (max-width: 640px) {
  header.header .capstone_menu > ul > li.nav-item > a.nav-link.signup_btn {
    display: inline-block;
    padding: 5px 20px;
    font-size: 0.9rem;
  }
}
@media (max-width: 440px) {
  header.header .capstone_menu > ul > li.nav-item > a.nav-link.signup_btn {
    right: 80px;
    top: -10px;
  }
}
@media (max-width: 376px) {
  header.header .capstone_menu > ul > li.nav-item > a.nav-link.signup_btn {
    right: 50px;
    top: 0px;
  }
}
@media (max-width: 320px) {
  header.header .capstone_menu > ul > li.nav-item > a.nav-link.signup_btn {
    right: 25px;
    top: 0px;
  }
}
header.header .capstone_menu > ul > li.nav-item > a.nav-link.signup_btn:before {
  display: none;
}

/* Home Wrap */
section.home_warp {
  width: 100%;
  height: 100vh;
  background: #2a2a2a url(../images/main_bg.jpg) no-repeat fixed top left/cover;
  position: fixed;
  z-index: 1;
}
@media (max-width: 991px) {
  section.home_warp {
    background-size: cover;
    background-attachment: scroll;
    height: auto;
    position: static;
  }
}
section.home_warp:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
}
section.home_warp .banner_content {
  max-width: 920px;
  font-weight: normal;
  font-family: "futuraheavy";
  color: #cccccc;
  margin: 0px auto;
}
@media (max-width: 991px) {
  section.home_warp .banner_content {
    padding: 130px 0px 70px;
  }
}
section.home_warp .banner_content > h1 {
  font-size: 4.5rem;
  line-height: 80px;
  margin-bottom: 45px;
}
@media (max-width: 1024px) {
  section.home_warp .banner_content > h1 {
    font-size: 4rem;
  }
}
@media (max-width: 991px) {
  section.home_warp .banner_content > h1 {
    font-size: 3rem;
    line-height: 60px;
    margin-bottom: 30px;
  }
}
@media (max-width: 990px) and (min-width: 800px) {
  section.home_warp .banner_content > h1 {
    font-size: 2.5rem;
    line-height: 50px;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  section.home_warp .banner_content > h1 {
    font-size: 2.5rem;
    line-height: 50px;
    margin-bottom: 30px;
  }
}
@media (max-width: 440px) {
  section.home_warp .banner_content > h1 {
    font-size: 1.8rem;
    line-height: 40px;
  }
}
section.home_warp .banner_content > p {
  font-size: 1rem;
}
@media (max-width: 767px) {
  section.home_warp .banner_content > p {
    font-size: 0.8rem;
  }
}
@media (max-width: 440px) {
  section.home_warp .banner_content > p {
    font-size: 0.8rem;
  }
}
section.home_warp .banner_content .btn_glob {
  color: #cccccc;
  display: inline-block;
  letter-spacing: 2px;
  border: 1px solid #cccccc;
  padding: 15px 40px;
  background: #2a2a2a;
  font-weight: 500;
  margin-top: 30px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
section.home_warp .banner_content .btn_glob.btn_border {
  color: #cccccc;
  border-color: #cccccc;
  background-color: transparent;
  background-image: -webkit-linear-gradient(315deg, #cccccc 50%, transparent 50%);
  background-image: -o-linear-gradient(315deg, #cccccc 50%, transparent 50%);
  background-image: linear-gradient(135deg, #cccccc 50%, transparent 50%);
  background-repeat: no-repeat;
  background-size: 0px 150px;
  background-position: -150px -150px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
section.home_warp .banner_content .btn_glob.btn_border:hover {
  color: #2a2a2a;
  background-size: 500% 500%;
  background-position: 0% 0%;
}
@media (max-width: 640px) {
  section.home_warp .banner_content .btn_glob.btn_border {
    width: 100%;
    margin-bottom: 20px;
  }
}
section.home_warp .banner_content .btn_glob.btn_solid {
  color: #cccccc;
  border-color: #E91576;
  background-color: transparent;
  background-image: -webkit-linear-gradient(315deg, #E91576 50%, transparent 50%);
  background-image: -o-linear-gradient(315deg, #E91576 50%, transparent 50%);
  background-image: linear-gradient(135deg, #E91576 50%, transparent 50%);
  background-repeat: no-repeat;
  background-size: 0px 50px;
  background-position: -50px -50px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
section.home_warp .banner_content .btn_glob.btn_solid:hover {
  color: #cccccc;
  background-size: 300% 300%;
  background-position: 0% 0%;
}
section.home_warp .banner_content .btn_glob + .btn_glob {
  margin-left: 25px;
}
section.home_warp .banner_content .app_store {
  margin-top: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
section.home_warp .banner_content .app_store > p {
  color: #cccccc;
  font-size: 0.8rem;
}
section.home_warp .banner_content .app_store > p > a > img {
  max-height: 40px;
}
@media (max-width: 990px) {
  section.home_warp .banner_content .app_store {
    display: none;
  }
}

/* Forms Section */
div.capstone_wrap {
  position: relative;
  z-index: 1;
}
div.capstone_wrap .capstone_title {
  color: #cccccc;
  font-family: "futuraheavy";
  font-size: 4rem;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 70px;
}
@media (max-width: 767px) {
  div.capstone_wrap .capstone_title {
    font-size: 3.125rem;
    margin-bottom: 20px;
  }
}
@media (max-width: 640px) {
  div.capstone_wrap .capstone_title {
    font-size: 1.75rem;
    line-height: 30px;
  }
}
div.capstone_wrap .capstone_content {
  color: #cccccc;
  padding-bottom: 30px;
}
@media (max-width: 440px) {
  div.capstone_wrap .capstone_content {
    font-size: 0.8rem;
  }
}
div.capstone_wrap .works_content {
  color: #cccccc;
  font-size: 2rem;
  font-weight: 600;
}
@media (max-width: 767px) {
  div.capstone_wrap .works_content {
    font-size: 1.2rem;
  }
}
div.capstone_wrap .work_wrap {
  margin: 0px auto;
  position: relative;
  text-align: center;
  width: 100%;
}
div.capstone_wrap .work_wrap .img_mobile {
  display: none;
}
@media (max-width: 767px) {
  div.capstone_wrap .work_wrap .img_mobile {
    display: block;
  }
}
@media (max-width: 767px) {
  div.capstone_wrap .work_wrap .img_desktop {
    display: none;
  }
}
div.capstone_wrap .page_capstone {
  position: relative;
  padding-top: 95px;
}
@media (max-width: 1024px) {
  div.capstone_wrap .page_capstone {
    overflow: hidden;
  }
}
@media (max-width: 991px) {
  div.capstone_wrap .page_capstone {
    padding-top: 0;
  }
}
@media (max-width: 767px) {
  div.capstone_wrap .page_capstone {
    padding-top: 60px;
  }
}
@media (max-width: 640px) {
  div.capstone_wrap .page_capstone {
    padding-top: 30px;
  }
}
div.capstone_wrap .home_capstone_tab {
  margin-bottom: 80px;
}
div.capstone_wrap .home_capstone_tab .nav-tabs {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: none;
}
div.capstone_wrap .home_capstone_tab .nav-tabs li.nav-item {
  margin: 0px 15px;
}
div.capstone_wrap .home_capstone_tab .nav-tabs li.nav-item a.nav-link {
  border-radius: 0;
  color: #cccccc;
  font-weight: 500;
  font-size: 0.9rem;
  display: inline-block;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  background: transparent;
  border: none;
  padding: 0;
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
div.capstone_wrap .home_capstone_tab .nav-tabs li.nav-item a.nav-link::before {
  position: absolute;
  content: "";
  right: 0;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  margin: 0 auto;
  opacity: 0;
  background: #E91576;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
div.capstone_wrap .home_capstone_tab .nav-tabs li.nav-item a.nav-link.active {
  color: #E91576;
}
div.capstone_wrap .home_capstone_tab .nav-tabs li.nav-item a.nav-link.active::before {
  width: 100%;
  opacity: 1;
}
div.capstone_wrap .capstone_single_item {
  margin-bottom: 70px;
}
div.capstone_wrap .capstone_single_item > a {
  display: inline-block;
  position: relative;
  top: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
div.capstone_wrap .capstone_single_item > a > img {
  border: 1px solid #cccccc;
  position: relative;
  top: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
div.capstone_wrap .capstone_single_item > a .btn_capstone {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: rgba(255, 51, 102, 0.3);
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
div.capstone_wrap .capstone_single_item > a .btn_capstone .btn_glob {
  -webkit-transform: translateY(15px);
  -ms-transform: translateY(15px);
  transform: translateY(15px);
  background: #E91576;
  padding: 15px 40px;
  border: 1px solid #cccccc;
  font-weight: 500;
  letter-spacing: 1px;
  display: inline-block;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
div.capstone_wrap .capstone_single_item > a .btn_capstone .btn_glob.btn_solid {
  color: #cccccc;
  border-color: #E91576;
}
div.capstone_wrap .capstone_single_item > a.capstone_link {
  margin: 10px 0 0 30px;
  color: #cccccc;
  font-weight: 500;
  font-size: 0.8rem;
  position: relative;
}
div.capstone_wrap .capstone_single_item > a.capstone_link:before {
  position: absolute;
  content: "";
  bottom: 0px;
  right: 0;
  width: 0%;
  height: 1px;
  background: #cccccc;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
div.capstone_wrap .capstone_single_item > a + a {
  top: 0;
}
div.capstone_wrap .capstone_single_item:hover > a {
  top: -20px;
}
div.capstone_wrap .capstone_single_item:hover > a > img {
  border-color: #E91576;
}
div.capstone_wrap .capstone_single_item:hover > a.capstone_link {
  top: 0;
}
div.capstone_wrap .capstone_single_item:hover > a.capstone_link:before {
  right: auto;
  left: 0;
  width: 100%;
}
div.capstone_wrap .capstone_single_item:hover > a .btn_capstone {
  opacity: 1;
}
div.capstone_wrap .capstone_single_item:hover > a .btn_capstone .btn_glob {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
div.capstone_wrap .features_row {
  margin: 0 -90px;
}
@media (max-width: 1024px) {
  div.capstone_wrap .features_row {
    margin: 0 -15px;
  }
}
div.capstone_wrap .features_row .features_col {
  padding: 0 90px;
}
@media (max-width: 1024px) {
  div.capstone_wrap .features_row .features_col {
    padding: 0 15px;
  }
}
div.capstone_wrap .features_row .features_col .features_item {
  margin-bottom: 60px;
}
div.capstone_wrap .features_row .features_col .features_item .feature_img {
  max-width: 270px;
  width: 100%;
  height: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  background-color: #999999;
}
@media (max-width: 1024px) {
  div.capstone_wrap .features_row .features_col .features_item .feature_img {
    margin: 0 auto 10px;
  }
}
div.capstone_wrap .features_row .features_col .features_item .feature_img .icon {
  width: 100%;
}
div.capstone_wrap .features_row .features_col .features_item .feature_img .icon > img {
  max-width: 100%;
  max-height: 150px;
}
div.capstone_wrap .features_row .features_col .features_item > p {
  color: #cccccc;
  font-family: "futuraheavy";
  font-weight: normal;
  font-size: 1rem;
}
div.capstone_wrap .features_row .features_col .features_item > p > span {
  font-size: 0.7rem;
  font-family: "Poppins";
  font-weight: 300;
}
div.capstone_wrap .contact_title {
  font-size: 2.25rem;
  color: #cccccc;
  font-weight: normal;
  font-family: "futuraheavy";
  letter-spacing: 1px;
  max-width: 790px;
  width: 100%;
  margin: 0px auto 60px;
}
@media (max-width: 576px) {
  div.capstone_wrap .contact_title {
    font-size: 1.5rem;
  }
}
div.capstone_wrap .contact_item {
  max-width: 500px;
  width: 100%;
  margin: 0px auto 70px;
}
div.capstone_wrap .contact_item .contact_icon {
  margin-bottom: 20px;
  text-align: center;
}
div.capstone_wrap .contact_item .contact_icon > img {
  display: inline-block;
  max-width: 100%;
  border: 2px solid #cccccc;
}
div.capstone_wrap .contact_item .contact_content {
  margin-top: -40px;
}
div.capstone_wrap .contact_item .contact_content > h4 {
  color: #cccccc;
  font-size: 1rem;
  line-height: 50px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  text-align: center;
}
div.capstone_wrap .contact_item .contact_content > p {
  color: #cccccc;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  letter-spacing: 0.75px;
  text-align: center;
}
div.capstone_wrap .contact_item .contact_content > p > a {
  display: block;
  position: relative;
  width: 100%;
  height: 25px;
  overflow: hidden;
}
div.capstone_wrap .contact_item .contact_content > p > a > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 500;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
div.capstone_wrap .contact_item .contact_content > p > a > span + span {
  top: 100%;
}
div.capstone_wrap .contact_item .contact_content > p > a:hover > span {
  color: #cccccc;
  top: -100%;
}
div.capstone_wrap .contact_item .contact_content > p > a:hover > span + span {
  top: 0;
}
div.capstone_wrap .contact_form {
  width: 95%;
  margin: 0px auto;
}
div.capstone_wrap .contact_form .form-group {
  margin-bottom: 30px;
}
div.capstone_wrap .contact_form .form-group .form-control {
  font-weight: 300;
  font-size: 1rem;
  line-height: 30px;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  height: 60px;
  padding: 10px 25px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
div.capstone_wrap .contact_form .form-group .form-control:-webkit-input-placeholder, div.capstone_wrap .contact_form .form-group .form-control:-moz-placeholder, div.capstone_wrap .contact_form .form-group .form-control:-ms-input-placeholder {
  color: #2a2a2a;
}
div.capstone_wrap .contact_form .form-group .form-control:focus {
  border-color: #E91576;
}
div.capstone_wrap .contact_form .form-group textarea.form-control {
  min-height: 200px;
}
div.capstone_wrap .contact_form .form-group .submit_btn {
  color: #cccccc;
  font-weight: 500;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  line-height: 30px;
  background-color: transparent;
  background-image: -webkit-linear-gradient(315deg, #cccccc 50%, transparent 50%);
  background-image: -o-linear-gradient(315deg, #cccccc 50%, transparent 50%);
  background-image: linear-gradient(135deg, #cccccc 50%, transparent 50%);
  background-repeat: no-repeat;
  background-size: 0px 50px;
  background-position: -50px -50px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border: none;
  padding: 15px 55px;
  cursor: pointer;
  border: 1px solid #cccccc;
  letter-spacing: 2px;
}
div.capstone_wrap .contact_form .form-group .submit_btn:hover {
  background-size: 300% 300%;
  background-position: 0% 0%;
  color: #2a2a2a;
}

/* Modal */
.modal_text {
  margin-top: 20px;
  font-size: 0.8rem;
}
.modal_text > strong {
  font-size: 0.8rem;
}

.list_modal > li {
  font-size: 0.8rem;
  margin-left: 20px;
}

.tab_text {
  font-size: 0.8rem;
  text-align: center;
}

.capstone_header_box {
  background-color: #f8f8f9;
  border-radius: 0;
  border: none;
  color: #888;
  font-weight: 600;
  text-align: center;
}
.capstone_header_box > a:hover {
  color: #E91576;
}
.capstone_header_box h6 {
  font-size: 0.8rem;
}

.card-body .btn_solid {
  color: #2a2a2a;
  font-weight: 500;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  line-height: 30px;
  background-color: transparent;
  background-image: -webkit-linear-gradient(315deg, #E91576 50%, transparent 50%);
  background-image: -o-linear-gradient(315deg, #E91576 50%, transparent 50%);
  background-image: linear-gradient(135deg, #E91576 50%, transparent 50%);
  background-repeat: no-repeat;
  background-size: 0px 50px;
  background-position: -50px -50px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border: none;
  padding: 10px 55px;
  cursor: pointer;
  border: 1px solid #cccccc;
  letter-spacing: 2px;
}
.card-body .btn_solid:hover {
  background-size: 300% 300%;
  background-position: 0% 0%;
  color: #fff;
}

/* Pricing */
.table_features {
  padding-bottom: 100px;
}
.table_features .table_title {
  color: #cccccc;
  font-size: 1.5rem;
  font-family: "futurabook";
  line-height: 55px;
  letter-spacing: 1px;
  font-weight: bold;
  max-width: 542px;
  width: 100%;
  margin: 0 auto 30px;
}
@media (max-width: 440px) {
  .table_features .table_title {
    font-size: 1.2rem;
  }
}
@media (max-width: 320px) {
  .table_features .table_title {
    font-size: 1rem;
  }
}
.table_features .btn_glob {
  color: #cccccc;
  display: inline-block;
  letter-spacing: 2px;
  border: 1px solid #cccccc;
  padding: 10px 40px;
  margin-top: -20px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.table_features .btn_glob.btn_solid {
  color: #fff;
  border-color: #E91576;
  background-color: #E91576;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  border-radius: 50px;
  font-size: 0.8em;
  font-weight: 500;
}

table {
  width: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  display: block;
}
table thead tr {
  text-align: center;
}
table thead tr > th {
  font-size: 0.9rem;
  font-weight: 600;
}
table thead tr > th:first-child {
  width: 50%;
}
table tbody tr > th {
  font-size: 0.9rem;
  font-weight: 600;
}
table tbody tr > th > span {
  font-weight: 400;
  font-size: 0.8rem;
  color: #888;
}
table tbody tr > td {
  text-align: center;
  color: #E91576;
  font-size: 0.8rem;
}
table tbody tr > td > i {
  font-size: 1rem;
}

/* Sign-up Form */
.signup_form .form-control {
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 30px;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  height: 60px;
  padding: 10px 25px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.signup_form .form-control:-webkit-input-placeholder, .signup_form .form-control:-moz-placeholder, .signup_form .form-control:-ms-input-placeholder {
  color: #2a2a2a;
}
.signup_form .form-control:focus {
  border-color: #E91576;
}
.signup_form p {
  font-size: 0.7rem;
  margin-left: 15px;
}
.signup_form .submit_btn {
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  line-height: 30px;
  background-color: #2a2a2a;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border: none;
  padding: 15px 55px;
  cursor: pointer;
  border: 1px solid #cccccc;
  letter-spacing: 2px;
}

/* Footer */
footer.footer {
  background: url(../images/footer_bg.jpg) no-repeat scroll top left/cover;
  padding: 50px 0 50px;
  position: relative;
  z-index: 1;
}
footer.footer .footer_content .footer_logo {
  margin-bottom: 30px;
}
footer.footer .footer_content .footer_logo > a {
  display: inline-block;
}
footer.footer .footer_content .footer_logo .footer_img {
  max-width: 100%;
  max-height: 50px;
}
footer.footer .footer_content .footer_title {
  color: #cccccc;
  font-size: 1.9rem;
  font-family: "futurabook";
  line-height: 55px;
  letter-spacing: 1px;
  font-weight: normal;
  max-width: 542px;
  width: 100%;
  margin: 0 auto 30px;
}
@media (max-width: 440px) {
  footer.footer .footer_content .footer_title {
    font-size: 1.5rem;
  }
}
@media (max-width: 320px) {
  footer.footer .footer_content .footer_title {
    font-size: 1.2rem;
  }
}
footer.footer .footer_content .footer_title > span {
  font-family: "futuraheavy";
  font-size: 2.5rem;
}
@media (max-width: 320px) {
  footer.footer .footer_content .footer_title > span {
    font-size: 2rem;
  }
}
footer.footer .footer_content .footer_copyright {
  color: #cccccc;
  font-size: 0.6rem;
  font-weight: 400;
  max-width: 542px;
  width: 100%;
  margin: 30px auto 0px;
  letter-spacing: 0.5px;
}
footer.footer .footer_content .footer_copyright > a {
  font-size: 0.6rem;
  font-weight: 600;
}
footer.footer .footer_content .footer_copyright > a:hover {
  color: #E91576;
}
footer.footer .footer_content .footer_social {
  margin-top: 30px;
}
footer.footer .footer_content .footer_social > li {
  display: inline-block;
  margin-right: 30px;
}
footer.footer .footer_content .footer_social > li:last-child {
  margin-right: 0px;
}
footer.footer .footer_content .footer_social > li > a {
  display: inline-block;
  font-size: 1rem;
  color: #888;
  width: 20px;
  height: 16px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
footer.footer .footer_content .footer_social > li > a > i {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
footer.footer .footer_content .footer_social > li > a > i + i {
  top: 100%;
}
footer.footer .footer_content .footer_social > li > a:hover {
  color: #fff;
}
footer.footer .footer_content .footer_social > li > a:hover i {
  top: -100%;
  color: #fff;
}
footer.footer .footer_content .footer_social > li > a:hover > i + i {
  top: 0;
}
footer.footer .footer_content .btn_glob {
  color: #cccccc;
  display: inline-block;
  letter-spacing: 2px;
  border: 1px solid #cccccc;
  padding: 15px 40px;
  background: #2a2a2a;
  font-weight: 500;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
footer.footer .footer_content .btn_glob.btn_solid {
  color: #cccccc;
  border-color: #E91576;
  background-color: transparent;
  background-image: -webkit-linear-gradient(315deg, #E91576 50%, transparent 50%);
  background-image: -o-linear-gradient(315deg, #E91576 50%, transparent 50%);
  background-image: linear-gradient(135deg, #E91576 50%, transparent 50%);
  background-repeat: no-repeat;
  background-size: 0px 100px;
  background-position: -100px -100px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
footer.footer .footer_content .btn_glob.btn_solid:hover {
  color: #cccccc;
  background-size: 300% 300%;
  background-position: 0% 0%;
}

/* Go Top  */
.go_to_top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 2;
  display: none;
}
@media (max-width: 1024px) {
  .go_to_top {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .go_to_top {
    display: none !important;
  }
}
.go_to_top > a {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #cccccc;
  background: #2a2a2a;
  border-radius: 50%;
  font-size: 20px;
  position: relative;
  overflow: hidden;
  border: 1px solid #cccccc;
}
.go_to_top > a > i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 35px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.go_to_top > a > i + i {
  top: 100%;
}
.go_to_top > a:hover > i {
  top: -100%;
}
.go_to_top > a:hover > i + i {
  top: 0;
}

/*# sourceMappingURL=main.css.map */
