/*!
 * 
 * thumbTAX | Capstone 1.0
 * Author: Michael Quitorio
 *
 */

@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900);

@font-face {
    font-family: 'futurabook';
    src: url("../fonts/futura/futura_book_font.woff2") format("woff2");
    font-weight: normal;
    font-style: normal; 
}
  
@font-face {
    font-family: 'futuraheavy';
    src: url("../fonts/futura/futura_heavy_font.woff2") format("woff2");
    font-weight: normal;
    font-style: normal; 
}
 
@import './mixins.scss';
@import './variables.scss';
 
* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

body {
    overflow-x: hidden;
    background-color: $baseColor;
}

a {
    color: inherit;
    @include mainTransition(0.3s);
    
    &,
    &:focus,
    &:hover {
        text-decoration: none; 
        outline: 0;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px; 
    } 
}

/* General Class Declaration */

.height_vh {
    height: 100vh; 

    @media (max-width: 991px) {
        height: auto;
    }
}

.dark_bg {
    background: $baseColor; 
}

.bg_text {
    position: absolute;
    left: 255px;
    top: 0px; 

    @media (max-width: 640px) {
        display: none;
    }
}

.bg_strock_text {
    font-size: 13.5rem;
    color: transparent;
    font-weight: normal;
    font-family: "futuraheavy";
    letter-spacing: 3px;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
    line-height: 220px; 

    @media (max-width: 1366px) {
        font-size:  10.5rem;
    }

    @media (max-width: 768px) {
        font-size: 6.25rem;
    }
}

/* Header */

header.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 20px 5px 20px 30px;
    @include mainTransition(0.5s);

    @media (max-width: 991px) {
        padding: 0px;
    }

    /* this will call by main.js */
    &.menu_fixed {
        background: $baseColor;
        -webkit-box-shadow: 0px 10px 20px 0px rgba(10, 11, 12, 0.4);
                box-shadow: 0px 10px 20px 0px rgba(10, 11, 12, 0.4);
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .capstone_logo {
        position: relative;
        max-width: 100%;
        max-height: 40px;

        @media (max-width: 440px) {
            max-height: 100%;
            margin-left: 10px;
        }
    }

    .capstone_menu > ul {
        -webkit-box-align: center;
           -ms-flex-align: center;
              align-items: center;

        @media (max-width: 991px) {
            display: block;
        }

        > li.nav-item {
            margin-right: 40px;

            @media (max-width: 991px) {
                display: inline-block;
                margin-right: 30px;
            }

            @media (max-width: 767px) {
                margin-right: 0px;
            }

            &:last-child {
                margin-right: 0px;
            }

            > a.nav-link {
                color: $neutralColor;
                font-size: 1rem;
                font-weight: 400;
                display: inline-block;
                padding: 0px;
                position: relative;

                @media (max-width: 991px) {
                    display: none;
                }

                @media (max-width: 767px) {
                    display: none;
                }

                &:before {
                    position: absolute;
                    content: "";
                    bottom: 0px;
                    right: 0;
                    width: 0%;
                    height: 1.5px;
                    background: $accentColor;

                    @include mainTransition(0.5s)
                }

                &.active:before, 
                &:hover:before {
                    right: auto;
                    left: 0;
                    width: 100%;
                }
            
                &.signup_btn{
                    letter-spacing: 2px;
                    border: 1px solid $accentColor;
                    padding: 7px 42px;

                    @include backgroundImage($accentColor);

                    background-size: 300% 300%;
                    background-position: 0% 0%;
                    font-weight: 600;
                    color: #fff;
                    border-radius: 50px;

                    @include mainTransition(1s);

                    @media (max-width: 991px) {
                        display: inline-block;
                        margin: 10px 0px;
                    }

                    @media (max-width: 767px) {
                        display: inline-block;
                        padding: 7px 20px;
                    }

                    @media (max-width: 640px) {
                        display: inline-block;
                        padding: 5px 20px;
                        font-size: 0.9rem;
                    }

                    @media (max-width: 440px) {
                        right: 80px;
                        top: -10px;
                    }

                    @media (max-width: 376px) {
                        right: 50px;
                        top: 0px;
                    }

                    @media (max-width: 320px) {
                        right: 25px;
                        top: 0px;
                    }

                    &:before {
                        display: none;
                    }
                }
            }
        }
    }
}

/* Home Wrap */

section.home_warp {
    width: 100%;
    height: 100vh;
    background: $baseColor url(../images/main_bg.jpg) no-repeat fixed top left/cover;
    position: fixed;
    z-index: 1; 

    @media (max-width: 991px) {
        background-size: cover;
        background-attachment: scroll;
        height: auto;
        position: static;
    }

    &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        top: 0;
        left: 0;
    }

    .banner_content {
        max-width: 920px;
        font-weight: normal;
        font-family: "futuraheavy";
        color: $neutralColor;
        margin: 0px auto;

        @media (max-width: 991px) {
            padding: 130px 0px 70px;
        }
    
        > h1 {
            font-size: 4.5rem;
            line-height: 80px;
            margin-bottom: 45px;

            @media (max-width: 1024px) {
                font-size: 4rem;
            }

            @media (max-width: 991px) {
                font-size: 3rem;
                line-height: 60px;
                margin-bottom: 30px;
            }

            @media (max-width: 990px) and (min-width: 800px) {
                font-size: 2.5rem;
                line-height: 50px;
                margin-bottom: 30px;
            }

            @media (max-width: 767px) {
                font-size: 2.5rem;
                line-height: 50px;
                margin-bottom: 30px;
            }

            @media (max-width: 440px) {
                font-size: 1.8rem;
                line-height: 40px;
            }
        }
        
        > p {
            font-size: 1rem;

            @media (max-width: 767px) {
                font-size: 0.8rem;
            }

            @media (max-width: 440px) {
                font-size: 0.8rem;
            }
        }

        .btn_glob {
            color: $neutralColor;
            display: inline-block;
            letter-spacing: 2px;
            border: 1px solid $neutralColor;
            padding: 15px 40px;
            background: $baseColor;
            font-weight: 500;
            margin-top: 30px;

            @include mainTransition(0.5s);

            &.btn_border {
                color: $neutralColor;
                border-color: $neutralColor;

                @include backgroundImage($neutralColor);

                background-size: 0px 150px;
                background-position: -150px -150px; 

                @include mainTransition(1s);

                &:hover {
                    color: $baseColor;
                    background-size: 500% 500%;
                    background-position: 0% 0%; 
                }
            
                @media (max-width: 640px) {    
                    width: 100%;
                    margin-bottom: 20px;
                }            
            }

            &.btn_solid {
                color: $neutralColor;
                border-color: $accentColor;

                @include backgroundImage($accentColor);
                
                background-size: 0px 50px;
                background-position: -50px -50px; 
                
                @include mainTransition(1s);

                &:hover {
                    color: $neutralColor;
                    background-size: 300% 300%;
                    background-position: 0% 0%; 
                }
            }    
        }

        .btn_glob + .btn_glob {
            margin-left: 25px;
        }

        .app_store {
            margin-top: 320px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            > p {
                color: $neutralColor;
                font-size: 0.8rem;

                > a > img {
                    max-height: 40px;
                }
            }

            @media (max-width: 990px) {
                display: none;
            }
        }
    }
}

/* Forms Section */

div.capstone_wrap {
    position: relative;
    z-index: 1; 

    .capstone_title{
        color: $neutralColor;
        font-family: "futuraheavy";
        font-size: 4rem;
        font-weight: normal;
        letter-spacing: 1px;
        margin-bottom: 70px;

        @media (max-width: 767px) {
            font-size: 3.125rem;
            margin-bottom: 20px;
        }

        @media (max-width: 640px) {
            font-size: 1.75rem;
            line-height: 30px;
        }
    }

    .capstone_content {
        color: $neutralColor;
        padding-bottom: 30px;

        @media (max-width: 440px) {
            font-size: 0.8rem;
        }
    }

    .works_content {
        color: $neutralColor;
        font-size: 2rem;
        font-weight: 600;

        @media (max-width: 767px) {
            font-size: 1.2rem;
        }
    }

    .work_wrap {
        margin: 0px auto;
        position: relative;
        text-align: center;
        width: 100%;

        .img_mobile {
            display: none;

            @media (max-width: 767px) {
                display: block;
            }
        }

        .img_desktop{

            @media (max-width: 767px) {
                display: none;
            }
        }
    }

    .page_capstone{
        position: relative;
        padding-top: 95px;

        @media (max-width: 1024px) {
            overflow: hidden;
        }

        @media (max-width: 991px) {
            padding-top: 0;
        }

        @media (max-width: 767px) {
            padding-top: 60px;
        }

        @media (max-width: 640px) {
            padding-top: 30px;
        }

    }

    .home_capstone_tab {
        margin-bottom: 80px;

        .nav-tabs {
            -webkit-box-pack: center;
               -ms-flex-pack: center;
            justify-content: center;
            border: none;

            li.nav-item {
                margin: 0px 15px; 

                a.nav-link {
                    border-radius: 0;
                    color: $neutralColor;
                    font-weight: 500;
                    font-size: 0.9rem;
                    display: inline-block;
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                    background: transparent;
                    border: none;
                    padding: 0;
                    position: relative;

                    @include mainTransition(0.5s);

                    &::before {
                        position: absolute;
                        content: "";
                        right: 0;
                        left: 0;
                        bottom: 0;
                        width: 0;
                        height: 1px;
                        margin: 0 auto;
                        opacity: 0;
                        background: $accentColor;

                        @include mainTransition(0.5s);
                    }

                    &.active {
                        color: $accentColor;

                        &::before {
                            width: 100%;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .capstone_single_item {
        margin-bottom: 70px;

        > a {
            display: inline-block;
            position: relative;
            top: 0;

            @include mainTransition(0.5s);

            > img {
                border: 1px solid $neutralColor;
                position: relative;
                top: 0;

                @include mainTransition(0.5s);
            }

            .btn_capstone {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                background: rgba(255, 51, 102, 0.3);
                opacity: 0;

                @include mainTransition(0.5s);

                .btn_glob {
                    -webkit-transform: translateY(15px);
                    -ms-transform: translateY(15px);
                    transform: translateY(15px);
                    background: $accentColor;
                    padding: 15px 40px;
                    border: 1px solid $neutralColor;
                    font-weight: 500;
                    letter-spacing: 1px;
                    display: inline-block;
                    text-transform: uppercase;

                    @include mainTransition(0.5s); 

                    &.btn_solid {
                        color: $neutralColor;
                        border-color: $accentColor;
                    }  
                }
            }

            &.capstone_link {
                margin: 10px 0 0 30px;
                color: $neutralColor;
                font-weight: 500;
                font-size: 0.8rem;
                position: relative; 

                &:before {
                    position: absolute;
                    content: "";
                    bottom: 0px;
                    right: 0;
                    width: 0%;
                    height: 1px;
                    background: $neutralColor;

                    @include mainTransition(0.5s);
                }
            }
        }

        > a + a {
            top: 0;
        }

        &:hover > a {
            top: -20px;

            > img {
                border-color: $accentColor;
            }

            &.capstone_link {
                top: 0;

                &:before {
                    right: auto;
                    left: 0;
                    width: 100%;
                }
            }

            .btn_capstone {
                opacity: 1;

                .btn_glob {
                    -webkit-transform: translateY(0);
                    -ms-transform: translateY(0);
                    transform: translateY(0);
                }
            }
        }
    }

    .features_row {
        margin: 0 -90px; 

        @media (max-width: 1024px) {
            margin: 0 -15px;
        }

        .features_col {
            padding: 0 90px; 

            @media (max-width: 1024px) {
                padding: 0 15px;
            }

            .features_item {
                margin-bottom: 60px; 

                .feature_img {
                    max-width: 270px;
                    width: 100%;
                    height: 270px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    text-align: center;
                    margin-bottom: 10px;
                    border: 1px solid $neutralColor; 
                    background-color: #999999;

                    @media (max-width: 1024px) {
                        margin: 0 auto 10px;
                    }

                    .icon {
                        width: 100%; 

                        > img {
                            max-width: 100%;
                            max-height: 150px;
                        }
                    }
                }

                > p {
                    color: $neutralColor;
                    font-family: "futuraheavy";
                    font-weight: normal;
                    font-size: 1rem;

                    > span {
                        font-size: 0.7rem;
                        font-family: "Poppins";
                        font-weight: 300;
                    }
                }
            }
        }
    }

    .contact_title {
        font-size: 2.25rem;
        color: $neutralColor;
        font-weight: normal;
        font-family: "futuraheavy";
        letter-spacing: 1px;
        max-width: 790px;
        width: 100%;
        margin: 0px auto 60px;

        @media (max-width: 576px) {
            font-size: 1.5rem;
        }
    }

    .contact_item {
        max-width: 500px;
        width: 100%;
        margin: 0px auto 70px;

        .contact_icon {
            margin-bottom: 20px;
            text-align: center;

            > img {
                display: inline-block;
                max-width: 100%;
                border: 2px solid $neutralColor;
            }
        }

        .contact_content {
            margin-top: -40px;

            > h4 {
                color: $neutralColor;
                font-size: 1rem;
                line-height: 50px;
                font-weight: 600;
                letter-spacing: 1px;
                font-family: "Poppins", sans-serif;
                text-transform: uppercase;
                text-align: center;
            }

            > p {
                color: $neutralColor;
                font-family: "Poppins", sans-serif;
                font-weight: 300;
                font-size: 0.8rem;
                letter-spacing: 0.75px;
                text-align: center;

                > a {
                    display: block;
                    position: relative;
                    width: 100%;
                    height: 25px;
                    overflow: hidden;

                    > span {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: inline-block;
                        font-size: 0.8rem;
                        font-weight: 500;
                        
                        @include mainTransition(0.5s); 
                    }

                    > span + span {
                        top: 100%;
                    }

                    &:hover > span {
                        color: $neutralColor;
                        top: -100%;
                    }

                    &:hover > span + span {
                        top: 0;
                    }
                }
            }
        }
    }

    .contact_form {
        width: 95%;
        margin: 0px auto;

        .form-group {
            margin-bottom: 30px;

            .form-control {
                font-weight: 300;
                font-size: 1rem;
                line-height: 30px;
                -webkit-box-shadow: none;
                box-shadow: none;
                outline: none;
                height: 60px;
                padding: 10px 25px;

                @include mainTransition(0.5s);

                &:-webkit-input-placeholder,
                &:-moz-placeholder,
                &:-ms-input-placeholder {
                    color: $baseColor;
                }

                &:focus {
                    border-color: $accentColor;
                }
            }

            textarea.form-control {
                min-height: 200px;
            }

            .submit_btn {
                color: $neutralColor;
                font-weight: 500;
                font-size: 15px;
                font-family: "Poppins", sans-serif;
                line-height: 30px;

                @include backgroundImage($neutralColor);
                background-size: 0px 50px;
                background-position: -50px -50px;

                @include mainTransition(0.5s);

                border: none;
                padding: 15px 55px;
                cursor: pointer;
                border: 1px solid $neutralColor;
                letter-spacing: 2px;

                &:hover {
                    background-size: 300% 300%;
                    background-position: 0% 0%;
                    color: $baseColor;
                }
            }
        }
    }
}

/* Modal */

.modal_text {
    margin-top: 20px;
    font-size: 0.8rem;

    > strong {
        font-size: 0.8rem;
    }
}

.list_modal > li {
    font-size: 0.8rem;
    margin-left: 20px;
}

.tab_text {
    font-size: 0.8rem;
    text-align: center;
}

.capstone_header_box {
    background-color: rgb(248,248,249);
    border-radius: 0;
    border: none;
    color: #888;
    font-weight: 600;
    text-align: center;

    > a:hover {
        color: $accentColor;
    }

    h6 {
        font-size: 0.8rem;
    }
}

.card-body {
    .btn_solid {
        color: $baseColor;
        font-weight: 500;
        font-size: 15px;
        font-family: "Poppins", sans-serif;
        line-height: 30px;

        @include backgroundImage($accentColor);
        background-size: 0px 50px;
        background-position: -50px -50px;

        @include mainTransition(0.5s);

        border: none;
        padding: 10px 55px;
        cursor: pointer;
        border: 1px solid $neutralColor;
        letter-spacing: 2px;

        &:hover {
            background-size: 300% 300%;
            background-position: 0% 0%;
            color: #fff;
        }
    }
}

/* Pricing */

.table_features {
    padding-bottom: 100px;

    .table_title {
        color: $neutralColor;
        font-size: 1.5rem;
        font-family: "futurabook";
        line-height: 55px;
        letter-spacing: 1px;
        font-weight: bold;
        max-width: 542px;
        width: 100%;
        margin: 0 auto 30px;

        @media (max-width: 440px) {
            font-size: 1.2rem;
        }

        @media (max-width: 320px) {
            font-size: 1rem;
        }
    }

    .btn_glob {
        color: $neutralColor;
        display: inline-block;
        letter-spacing: 2px;
        border: 1px solid $neutralColor;
        padding: 10px 40px;
        margin-top: -20px;  

        @include mainTransition(0.5s);

        &.btn_solid {
            color: #fff;
            border-color: $accentColor;
            background-color: $accentColor;
            @include mainTransition(1s);
            border-radius: 50px;
            font-size: 0.8em;
            font-weight: 500;
        } 
    }
}

table {
    width: 100%;
   -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    display: block;

    thead {
        tr {
            text-align: center;

            > th {
                font-size: 0.9rem;
                font-weight: 600;

                &:first-child {
                    width: 50%;
                }
            
            }
        }
    }
    
    tbody {
        tr {
            > th {
                font-size: 0.9rem;
                font-weight: 600;

                > span {
                    font-weight: 400;
                    font-size: 0.8rem;
                    color: #888;
                }
            }

            > td {
                text-align: center;
                color: $accentColor;
                font-size: 0.8rem;

                > i {
                    font-size: 1rem;
                }
            }
        }
    }
}

/* Sign-up Form */

.signup_form {

    .form-control {
        font-weight: 300;
        font-size: 0.8rem;
        line-height: 30px;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: none;
        height: 60px;
        padding: 10px 25px;

        @include mainTransition(0.5s);

        &:-webkit-input-placeholder,
        &:-moz-placeholder,
        &:-ms-input-placeholder {
            color: $baseColor;
        }

        &:focus {
            border-color: $accentColor;
        }
    }

    p {
        font-size: 0.7rem;
        margin-left: 15px;
    }

    .submit_btn {
        color: #fff;
        font-weight: 500;
        font-size: 15px;
        font-family: "Poppins", sans-serif;
        line-height: 30px;
        background-color: $baseColor;
        @include mainTransition(0.5s);
        border: none;
        padding: 15px 55px;
        cursor: pointer;
        border: 1px solid $neutralColor;
        letter-spacing: 2px;
    }
}

/* Footer */

footer.footer {
    background: url(../images/footer_bg.jpg) no-repeat scroll top left/cover;
    padding: 50px 0 50px;
    position: relative;
    z-index: 1; 

    .footer_content{

        .footer_logo {
            margin-bottom: 30px;

            > a {
                display: inline-block; 
            }

            .footer_img {
                max-width: 100%;
                max-height: 50px;
            }
        }

        .footer_title {
            color: $neutralColor;
            font-size: 1.9rem;
            font-family: "futurabook";
            line-height: 55px;
            letter-spacing: 1px;
            font-weight: normal;
            max-width: 542px;
            width: 100%;
            margin: 0 auto 30px;

            @media (max-width: 440px) {
                font-size: 1.5rem;
            }

            @media (max-width: 320px) {
                font-size: 1.2rem;
            }

            > span {
                font-family: "futuraheavy";
                font-size: 2.5rem;

                @media (max-width: 320px) {
                    font-size: 2rem;
                }
            }
        }

        .footer_copyright {
            color: $neutralColor;
            font-size: 0.6rem;
            font-weight: 400;
            max-width: 542px;
            width: 100%;
            margin: 30px auto 0px;
            letter-spacing: 0.5px;

            > a {
                font-size: 0.6rem;
                font-weight: 600;

                &:hover {
                    color: $accentColor;
                }
            }
        }

        .footer_social {
            margin-top: 30px;

            > li {
                display: inline-block;
                margin-right: 30px;

                &:last-child {
                    margin-right: 0px;
                }

                > a {
                    display: inline-block;
                    font-size: 1rem;
                    color: #888;
                    width: 20px;
                    height: 16px;
                    position: relative;
                    overflow: hidden; 

                    @include mainTransition(0.5s);

                    > i {
                        position: absolute;
                        top: 0;
                        left: 0;

                        @include mainTransition(0.5s);
                    }

                    > i + i {
                        top: 100%;
                    }

                    &:hover {
                        color: #fff;
                    }

                    &:hover i {
                        top: -100%;
                        color: #fff;
                    }

                    &:hover > i + i {
                        top: 0;
                    }
                }
            }
        }

        .btn_glob {
            color: $neutralColor;
            display: inline-block;
            letter-spacing: 2px;
            border: 1px solid $neutralColor;
            padding: 15px 40px;
            background: $baseColor;
            font-weight: 500;

            @include mainTransition(0.5s);

            &.btn_solid {
                color: $neutralColor;
                border-color: $accentColor;

                @include backgroundImage($accentColor);
                
                background-size: 0px 100px;
                background-position: -100px -100px; 
                
                @include mainTransition(1s);

                &:hover {
                    color: $neutralColor;
                    background-size: 300% 300%;
                    background-position: 0% 0%; 
                }
            } 
        }
    }
}

/* Go Top  */

.go_to_top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 2;
    display: none; 

    @media (max-width: 1024px) {
        display: none !important;
    }

    @media (max-width: 767px) {
        display: none !important;
    }

    > a {
        display: block;
        width: 40px;
        height: 40px;
        text-align: center;
        color: $neutralColor;
        background: $baseColor;
        border-radius: 50%;
        font-size: 20px;
        position: relative;
        overflow: hidden;
        border: 1px solid $neutralColor;

        > i {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            line-height: 35px;

            @include mainTransition(0.5s);
        }

        > i + i {
            top: 100%;
        }

        &:hover {
            > i {
                top: -100%;
            }

            > i + i {
                top: 0;
            }
        }
    }
}
  

