@mixin mainContainer($height, $color){
    
    width: 100%;
    height: $height;
    background-color: $color;

}

@mixin mainTransition($time){

    -webkit-transition: all $time;
       -moz-transition: all $time;
         -o-transition: all $time;
            transition: all $time;

}

@mixin backgroundImage($color){

    background-color: transparent;
    background-image: -webkit-linear-gradient(315deg, $color 50%, transparent 50%);
    background-image: -o-linear-gradient(315deg, $color 50%, transparent 50%);
    background-image: linear-gradient(135deg, $color 50%, transparent 50%);
    background-repeat: no-repeat;

}  